.situacao-ativo{
    color: green;
}

.situacao-inativo{
    color: red;
}

.delete-icon{
    color: red;
    cursor: pointer!important;
}

.edit-icon{
    color: orange;
    cursor: pointer!important;
}

.chart-icon{
    color: green;
    cursor: pointer!important;
}

.accept-button{
    color: green;
}

