<div class="card-content">
    <div class="formgrid grid">
        <div class="field col-12 md:col-3">
            <label for="name">Nome</label>
            <input [(ngModel)]="host.host_nome" id="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="ip">IP</label>
            <input [(ngModel)]="host.host_ip" id="ip" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="porta">Porta</label>
            <input [(ngModel)]="host.host_porta" id="porta" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="community">Community</label>
            <input [(ngModel)]="host.host_community" id="community" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="template">Template</label>
            <p-listbox id="template"
            [options]="templatesHost"
            [multiple]="true"
            [(ngModel)]="selectedTemplates"
            optionLabel="name"
            [style]="{ width: '15rem' }"
          ></p-listbox>        
        </div>
        <div class="field col-12 md:col-2">
            <label for="ativo">Status</label>
            <select id="ativo" [(ngModel)]="selectedAtivo" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option *ngFor="let ativo of ativo" [ngValue]="ativo.ativo">{{ativo.name}}</option>
              </select>
        </div>
        <div class="field col-12 md:col-7">
            <label for="obs">Observações</label>
            <textarea [(ngModel)]="host.host_observacoes" id="obs" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div>

        <div class="field col-12">
        <button (click) = "saveHost()"  pButton pRipple type="button" label="Salvar" class="p-button-rounded p-button-success salvar-button"></button>
        </div>
    </div>
</div>

